Sheet_email.json
{
  "name": "Sheet+email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "DOCUMENT_ID_PLACEHOLDER",
          "mode": "list",
          "cachedResultName": "dem0_automate",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "NODE_ID_PLACEHOLDER_1",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "CREDENTIAL_ID_PLACEHOLDER_1",
          "name": "GOOGLE_SHEETS_TRIGGER_ACCOUNT"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "email@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        680,
        0
      ],
      "id": "NODE_ID_PLACEHOLDER_2",
      "name": "Gmail",
      "webhookId": "WEBHOOK_ID_PLACEHOLDER",
      "credentials": {
        "gmailOAuth2": {
          "id": "CREDENTIAL_ID_PLACEHOLDER_2",
          "name": "GMAIL_ACCOUNT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json[\"choices\"][0][\"message\"][\"content\"];\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    subject: parsed.subject,\n    body: parsed.body\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "NODE_ID_PLACEHOLDER_3",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer api_key\",\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n   {\n  \"role\": \"system\",\n  \"content\": \"You are an assistant that formats client order information into a summary email also add some writeups. Return your response in JSON with two fields:\\n\\n{\\n  \\\"subject\\\": \\\"...\\\",\\n  \\\"body\\\": \\\"...\\\"\\n}\\n\\nDo not include any extra explanation. Only return valid JSON.\"\n}\n,\n    {\n      \"role\": \"user\",\n      \"content\": \"Here is the client order:\\nOrder {{ $json.OrderID }}:\\nCustomer Name: {{ $json.CutomerName }}\\nProduct: {{ $json.Product }}\\nQuantity: {{ $json.Quantity }}\\nPrice: {{ $json.Price }}\\nOrder Date: {{ $json.OrderDate }}\\nStatus: {{ $json.Status }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "NODE_ID_PLACEHOLDER_4",
      "name": "HTTP Request(GPT-3.5)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID_PLACEHOLDER_3",
          "name": "HEADER_AUTH_ACCOUNT"
        },
        "httpCustomAuth": {
          "id": "CREDENTIAL_ID_PLACEHOLDER_4",
          "name": "CUSTOM_AUTH_ACCOUNT"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request(GPT-3.5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request(GPT-3.5)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "VERSION_ID_PLACEHOLDER",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "INSTANCE_ID_PLACEHOLDER"
  },
  "id": "djQFQ041A900IJjJ",
  "tags": []
}